* {
  box-sizing: border-box;
  font-family: Montserrat;
  }
  body, html {
      height: 100%;
  }
  .navbar a{
      color: #202020;
  }
  .navbar a:hover{
      color: #B6007D;
      text-decoration: none;
  }
  /* for homepage.html */
  #page1 .img-fill {
      /* The image used */
      /* background-image: url("{% static 'img/aku.png' %}"); */
      background-image: url("../img/aku.png");

      /* Full height */
      height: 100%;
      width: 100%;
      /* Center and scale the image nicely */
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
  } 
  #page1 .container-fluid{
      padding-top: 15%;
  }
  #page1 .col-md-7{
      padding-top: 5%;
      padding-left:10%;
      font-weight: 900px;
      font-size: 100px;
      font-family: Montserrat;
      }

  /* for aboutme.html */
  #page2 .container{
      padding-top: 100px;
  }
  #page2 .col-4{
      padding-left: 20px;
      font-weight: 600px;
      font-size: 60px;
      color: #F5C300;
      }
  #page2 .col-8{
      padding-top: 120px;
      padding-left: 40px;
      font-size: 20px;
      color: #202020;
  }

  /* for education.html */
  #page3 .row{
      padding-left: 50px;
      padding-top: 150px;
  }
  #page3 h1{
      font-weight: 900px;
      font-size: 60px;
      color: #B6007D;
  }
  #page3 ul {
    list-style: none;
    padding-top: 20px;
    padding-left: 0px;
    font-size: 30px;
    text-align: left;
    line-height: 70px;
  }
  #page3 ul li::before {
    content: "\2022";
    color: #F5C300 ;
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    padding-left: 10%;
  }
 
  /* for experience.html */
  #page4 h1{
      padding-top: 100px;
      padding-left: 25px;
      font-weight: 900px;
      color: #F5C300;
  }
  #page4 .row{
      padding-top: 15px;
      color: #202020;
      font-size: 20px;
  }
 #page4 .expe{
      padding-left: 340px; 
      position: absolute; 
      bottom: 20vh
 }

  /* for contact.html */
  #page5 h1{
      padding-top: 100px;
      padding-left: 10px;
      font-weight: 900px;
      color: #F5C300;
  }
  #page5 .col-md-6{
      text-align: center; 
      color: #F5C300;
  }
  #text-ungu{
      color: #B6007D;
  }
  .contact-html img{
      width: 100px;
      height: auto;
  }

  .contact-html p{
      font-size: 18pt;
      line-height: 45px;
  }

  /* for portofolio.html */
  #page6 .container{
      padding-top: 150px;
      color: #F5C300;
      text-align: center;
      font-size: 150px;
  }

  /*for schedule*/
  #page7 h1{
          padding-top: 100px;
          color:#F5C300;
          text-align: center;
          font-size: 40px;
        }
  #page7 .row{
          padding-top: 30px;
          color:#202020;
          text-align: left;
          font-size: 16px;
  }

  /*for create_schedule*/
  #page8 .form-group{
          padding-top:130px;
  }


