{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
    <!-- Bootstrap CSS -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
   <title>Natasya Elora</title>
</head>

<body id="page2">

  <nav class="navbar navbar-dark bg-transparent fixed-top">
            <a class="navbar-brand" href="{% url 'home'%}">
                <img src="{% static 'img/logo.png' %}" width="45%" alt="logo">
            </a>

        <div class="right-navbar">
	        <a class="mx-3" href="{% url 'aboutme' %}">About</a>
	        <a class="mx-3" href="{% url 'education' %}">Education</a>
            <a class="mx-3" href="{% url 'experience' %}">Experience</a>
	        <a class="mx-3" href="{% url 'portofolio' %}">Portofolio</a>
	        <a class="mx-3" href="{% url 'schedule' %}">Schedule</a>
            <a class="mx-3" href="{% url 'contact' %}">Contact Me</a>
	    </div>
  </nav>

	<div class="container">
		<div class="row">
		  <div class="col-8 text-justify">
					<p>Hello!<br>You can call me Natasya for short. I’m 19 years old and currently an Information System student in University of Indonesia. I am a person with high integrity, discipline, and diligent. I have a great experience working as part of a team and individually. I am eager to learn new skills things and try make the best in everything I do. Furthermore, I am adept at handling multiple tasks on a daily basis and at working well under pressure.
					<p>    	
		  </div>

		  <div class="col-4">
				<b><span id="text-ungu">About</span> Me</b>
		  </div>
		</div>
	  </div>

	</body>

</html>>