{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>	
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
        <!-- Bootstrap CSS -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Natasya Elora</title>
</head>


<body id="page4">
    <nav class="navbar navbar-dark bg-transparent fixed-top">
            <a class="navbar-brand" href="{% url 'home'%}">
                <img src="{% static 'img/logo.png' %}" width="45%" alt="logo">
                </a>

        <div class="right-navbar">
	        <a class="mx-3" href="{% url 'aboutme' %}">About</a>
	        <a class="mx-3" href="{% url 'education' %}">Education</a>
            <a class="mx-3" href="{% url 'experience' %}">Experience</a>
	        <a class="mx-3" href="{% url 'portofolio' %}">Portofolio</a>
	        <a class="mx-3" href="{% url 'schedule' %}">Schedule</a>
            <a class="mx-3" href="{% url 'contact' %}">Contact Me</a>
	    </div>
    </nav>
	
	<div class="experiences">
	  <div class="col-md-6 offset-md-3" style="text-align: center;">
	  	<h1><b>Experiences</b></h1>
	  </div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-6" style="text-align: right;">
				<p><b>Usher</b><br>“The 80’s are Back” Concert<br>2017<br><b>Volunteer</b><br>Powerman Asia<br>2017<br><b>Score Counter</b><br>Jr NBA<br>2017<br><b>Staff of Sponsorhip</b><br>Educare<br>2019</p>
			</div>
			<div class="col-6">
				<p><b>Liaison Officer</b><br>Wisuda Ganjil Fasilkom<br>2019<br><b>Liaison Officer</b><br>Wisuda Genap Fasilkom<br>2019<br><b>HRD of Visual Design</b><br>COMPFEST 11<br>2019<br><b>Staff of Public Relationship</b><br>DPM Fasilkom<br>2019</p>
					<div class="expe">
						<img src="{% static 'img/expe.png' %}" alt="expe">
					</div>
			</div>
			
		</div>
	</div>
</body>

   











 
