 <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top" >
        <a class="navbar-brand" href="{% url 'home'%}">
            <img src="{% static 'img/logo.png' %}" width="45%" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="mx-3" href="{% url 'aboutme' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="mx-3" href="{% url 'education' %}">Education</a>
            </li>
            <li class="nav-item">
                <a class="mx-3" href="{% url 'experience' %}">Experience</a>
            </li>
            <li class="nav-item">
                <a class="mx-3" href="{% url 'portofolio' %}">Portofolio</a>
            </li>
            <li class="nav-item">
                <a class="mx-3" href="{% url 'portofolio' %}">Portofolio</a>
            </li>
            <li class="nav-item">
                <a class="mx-3" href="{% url 'schedule' %}">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="mx-3" href="{% url 'contact' %}">Contact Me</a>
            </li>
            </ul>
        </div>
    </nav>