{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:500,600,900' rel='stylesheet'>

     <!-- Bootstrap CSS -->
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	 <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Natasya Elora</title>
</head>


<body id="page7">

    <nav class="navbar navbar-dark bg-transparent fixed-top">
            <a class="navbar-brand" href="{% url 'home'%}">
                <img src="{% static 'img/logo.png' %}" width="45%" alt="logo">
                </a>

        <div class="right-navbar">
	        <a class="mx-3" href="{% url 'aboutme' %}">About</a>
	        <a class="mx-3" href="{% url 'education' %}">Education</a>
            <a class="mx-3" href="{% url 'experience' %}">Experience</a>
	        <a class="mx-3" href="{% url 'portofolio' %}">Portofolio</a>
	        <a class="mx-3" href="{% url 'schedule' %}">Schedule</a>
            <a class="mx-3" href="{% url 'contact' %}">Contact Me</a>
	    </div>
    </nav>

 <h1>SCHEDULE</h1>
    <div class="article">
        <a href="{% url 'schedule' %}"></a>
        <div class="article">
            <div class="row">
                {% for schedule in schedules %}
                    <div class="col-sm-4 text-center">
                        <h2>{{ schedule.activity }}</h2>
                        <p> {{schedule.day}}</p>
                        <p>{{ schedule.date.date }}</p>
                        <p>{{ schedule.time}}</p>
                        <p>{{ schedule.place }}</p>
                        <p>{{ schedule.category }}</p>

                        <div class = 'form-group'>
                          <form action="clear/{{ schedule.id }}/" method="POST">
                              {% csrf_token %}
                              <button class="btn btn-danger" type="submit">Delete</button>
                          </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = 'col-md-12'>
            <a href="{% url 'create_schedule' %}">
                <button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button>
            </a>
    </div>

</body>
</html>
